In [1]:
# Data cleaning

import json

In [2]:
# function to load the data from given filepath
def load_data(filepath):
    with open(filepath,"r") as f:
        data=json.load(f) # load function parse json data to python object(dict)
        return data

In [3]:
data=load_data("data.json")
print(data)

[{'id': '001', 'name': 'Rahul ', 'age': '23', 'email': 'rahul@gmail.com', 'salary': '35000', 'city': 'Bhopal'}, {'id': 2, 'name': '  anita', 'age': None, 'email': 'anita@@gmail.com', 'salary': 42000, 'city': 'bhopal '}, {'id': '003', 'name': 'VIKAS', 'age': 'twenty five', 'email': '', 'salary': 'NA', 'city': 'Indore'}, {'id': 4, 'name': None, 'age': '29', 'email': 'vikas@gmail.com ', 'salary': 38000, 'city': None}, {'id': '005', 'name': 'Neha', 'age': 22, 'email': 'neha@gmail.com', 'salary': '-', 'city': 'INDORE'}]

In [4]:
print(type(data))

<class 'list'>

In [5]:
# function to clean the data
def clean_data(data):
    total_len=len(data)
    i=1
    for user in data:
        user["id"]=i
        i+=1
        # name clean
        if user["name"]:
            user["name"]=user["name"].strip().lower()
        # city clean
        if user["city"]:
            user["city"]=user["city"].strip().lower()
        # age clean
        age_str_to_num={"twenty five":25}
        if user["age"]:
            if user["age"] in age_str_to_num:
                user["age"]=age_str_to_num[f"{user["age"]}"]
            else:
                user["age"]=int(user["age"])
        # salary clean
        if user["salary"]:
            salary_invalids=["NA","-"]
            if user["salary"] in salary_invalids:
                user["salary"]=None
            else:
                user["salary"]=int(user["salary"])
        # email clean
        if user["email"]:
            if len(user["email"])==0:
                user["email"]=None
            else:
                idx_at_the_rate=user["email"].find("@") #first occurence of @
                email_end=user["email"][idx_at_the_rate:]
                valid_email_end="@gmail.com"
                if email_end!=valid_email_end:
                    user["email"]=user["email"][:idx_at_the_rate]+valid_email_end
        
    return data

In [6]:
cleaned_data=clean_data(data) # call clean_data fxn ;
print(cleaned_data)

[{'id': 1, 'name': 'rahul', 'age': 23, 'email': 'rahul@gmail.com', 'salary': 35000, 'city': 'bhopal'}, {'id': 2, 'name': 'anita', 'age': None, 'email': 'anita@gmail.com', 'salary': 42000, 'city': 'bhopal'}, {'id': 3, 'name': 'vikas', 'age': 25, 'email': '', 'salary': None, 'city': 'indore'}, {'id': 4, 'name': None, 'age': 29, 'email': 'vikas@gmail.com', 'salary': 38000, 'city': None}, {'id': 5, 'name': 'neha', 'age': 22, 'email': 'neha@gmail.com', 'salary': None, 'city': 'indore'}]

## DATA INSIGHTS

1. Extract those users who have salary > 35000
2. Extract those users who have age >=25
3. Extract those users who are not belonging to indore

In [14]:
def data_insights(cleaned_data):
    sal_more_35_000 = []
    age_eq_more_25=[]
    not_in_indore=[]
    for user in cleaned_data:
        if user["salary"] and user["salary"] > 35_000:
            sal_more_35_000.append(user)
        if user["age"] and  user["age"]>=25:
            age_eq_more_25.append(user)
        if user["city"] and user["city"] not in ["indore"]:
            not_in_indore.append(user)

    print(f"Users salary has more than 35,000 : {sal_more_35_000}",end="\n\n")
    print(f"Users age has qual to or more than 25 : {age_eq_more_25}",end="\n\n")
    print(f"Users not belonging to indore : {not_in_indore}")

In [15]:
data_insights(cleaned_data)

Users salary has more than 35,000 : [{'id': 2, 'name': 'anita', 'age': None, 'email': 'anita@gmail.com', 'salary': 42000, 'city': 'bhopal'}, {'id': 4, 'name': None, 'age': 29, 'email': 'vikas@gmail.com', 'salary': 38000, 'city': None}]

Users age has qual to or more than 25 : [{'id': 3, 'name': 'vikas', 'age': 25, 'email': '', 'salary': None, 'city': 'indore'}, {'id': 4, 'name': None, 'age': 29, 'email': 'vikas@gmail.com', 'salary': 38000, 'city': None}]

Users not belonging to indore : [{'id': 1, 'name': 'rahul', 'age': 23, 'email': 'rahul@gmail.com', 'salary': 35000, 'city': 'bhopal'}, {'id': 2, 'name': 'anita', 'age': None, 'email': 'anita@gmail.com', 'salary': 42000, 'city': 'bhopal'}]