In [1]:
import pandas as pd

In [2]:
# Series : 1d labelled(index) array
# Dataframe : 2d labelled matrix like table with labels(index)
# index : numerical val act as positional label
# label : can be any type of val 
# on table(series,dataframe) both can exist and useful to access info

In [3]:
# dataframe
# creation using dictionary
df=pd.DataFrame({
    "name":["prashant","amit","sumit","adesh"],
    "cgpa":[6.7,5.6,8.8,9.9]
})

df

       name  cgpa
0  prashant   6.7
1      amit   5.6
2     sumit   8.8
3     adesh   9.9

In [4]:
# customize labels
info={
    "name":["prashant","amit","sumit","adesh"],
    "cgpa":[6.7,5.6,8.8,9.9]
}

df=pd.DataFrame(info,index=["A","B","C","D"])

df

       name  cgpa
A  prashant   6.7
B      amit   5.6
C     sumit   8.8
D     adesh   9.9

In [5]:
# series : homogeneous in nature like numpy 1d array
# Series size is IMMUTABLE , but its values are mutable
# In series vectorized operations are allowed
info=[1,2,6,2,7,3]
s=pd.Series(info)
print(s,type(s))

0    1
1    2
2    6
3    2
4    7
5    3
dtype: int64 <class 'pandas.core.series.Series'>

In [6]:
print(s[0:2])
print(s[3])

0    1
1    2
dtype: int64
2

In [7]:
#custom labels
info=[1,2,6,2,7,3]
s=pd.Series(info,index=["A","B","C","D","E","F"])
s

A    1
B    2
C    6
D    2
E    7
F    3
dtype: int64

In [8]:
print(s["A"]) # accessing through labels
print(s[0]) # accessing through index
print(s.index)

1
1
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

C:\Users\prash\AppData\Local\Temp\ipykernel_1347436\2715746759.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0]) # accessing through index

In [15]:
# DataFrame creation ways : dictionary , list of lists, numpy 2d arrays
# using dictionary
students={
    "Name":["Prashant","Amit","Sumit","guli","laki","kanchu","shivi"],
    "Age":[20,12,12,15,22,12,8],
    "Class":[10,11,12,7,5,2,6]
}
df=pd.DataFrame(students)
print(df.index,df.columns)
df

RangeIndex(start=0, stop=7, step=1) Index(['Name', 'Age', 'Class'], dtype='object')

       Name  Age  Class
0  Prashant   20     10
1      Amit   12     11
2     Sumit   12     12
3      guli   15      7
4      laki   22      5
5    kanchu   12      2
6     shivi    8      6

In [21]:
# using list of lists
students=[["Ram",22],["Amit",23],["sumit",23],["gg",45],["shyam",34]]
df=pd.DataFrame(students,columns=["Name","Age"]) # if we do not specify column names then indices(0,1,...) will be used
print(df.index,df.columns)
df

RangeIndex(start=0, stop=5, step=1) Index(['Name', 'Age'], dtype='object')

    Name  Age
0    Ram   22
1   Amit   23
2  sumit   23
3     gg   45
4  shyam   34

In [23]:
# using numpy arrays
import numpy as np
np_arr=np.array([["amit",98],["sumit",99],["sam",45]])
df=pd.DataFrame(np_arr,columns=["Name","marks"])
print(df.index,df.columns)
df

RangeIndex(start=0, stop=3, step=1) Index(['Name', 'marks'], dtype='object')

    Name marks
0   amit    98
1  sumit    99
2    sam    45

In [30]:
df.index
df.columns

Index(['Name', 'marks'], dtype='object')