In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("./data/StudentPerformanceFactors.csv")
data

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [3]:
data.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [4]:
data.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [6]:
# selecting column 
data[["Attendance","Exam_Score"]].sample(7)

      Attendance  Exam_Score
66            86          69
4479          87          71
908           98          69
2367          90          67
1369          83          70
6278          86          66
5096          81          68

In [7]:
# using copy() fxn : so that original data remain consistent
Family_Income=data["Family_Income"].copy() 
Family_Income[0]="modified" 
Family_Income.head(10)

0    modified
1      Medium
2      Medium
3      Medium
4      Medium
5      Medium
6         Low
7        High
8      Medium
9        High
Name: Family_Income, dtype: object

In [8]:
data["Family_Income"].head(10)

0       Low
1    Medium
2    Medium
3    Medium
4    Medium
5    Medium
6       Low
7      High
8    Medium
9      High
Name: Family_Income, dtype: object

In [9]:
data.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [10]:
# selecting rows : loc and iloc
data.loc[0]

Hours_Studied                          23
Attendance                             84
Parental_Involvement                  Low
Access_to_Resources                  High
Extracurricular_Activities             No
Sleep_Hours                             7
Previous_Scores                        73
Motivation_Level                      Low
Internet_Access                       Yes
Tutoring_Sessions                       0
Family_Income                         Low
Teacher_Quality                    Medium
School_Type                        Public
Peer_Influence                   Positive
Physical_Activity                       3
Learning_Disabilities                  No
Parental_Education_Level      High School
Distance_from_Home                   Near
Gender                               Male
Exam_Score                             67
Name: 0, dtype: object

In [11]:
data.loc[0:3]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71

In [12]:
data.iloc[0]

Hours_Studied                          23
Attendance                             84
Parental_Involvement                  Low
Access_to_Resources                  High
Extracurricular_Activities             No
Sleep_Hours                             7
Previous_Scores                        73
Motivation_Level                      Low
Internet_Access                       Yes
Tutoring_Sessions                       0
Family_Income                         Low
Teacher_Quality                    Medium
School_Type                        Public
Peer_Influence                   Positive
Physical_Activity                       3
Learning_Disabilities                  No
Parental_Education_Level      High School
Distance_from_Home                   Near
Gender                               Male
Exam_Score                             67
Name: 0, dtype: object

In [13]:
data.iloc[0:3]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74

In [14]:
# slecting col and row both at a time : iloc and loc
data.loc[0:2,"Attendance"]

0    84
1    64
2    98
Name: Attendance, dtype: int64

In [15]:
data.loc[0:3,["Attendance","Hours_Studied","Sleep_Hours"]]

   Attendance  Hours_Studied  Sleep_Hours
0          84             23            7
1          64             19            8
2          98             24            7
3          89             29            8

In [16]:
data.iloc[0:3,["Attendance","Hours_Studied","Sleep_Hours"]] # will throw error because iloc expect numeric index

IndexError: .iloc requires numeric indexers, got ['Attendance' 'Hours_Studied' 'Sleep_Hours']

In [17]:
data.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [18]:
data.iloc[0:3,[1,0,5]]

   Attendance  Hours_Studied  Sleep_Hours
0          84             23            7
1          64             19            8
2          98             24            7

In [19]:
data.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [20]:
# Filtering of data based on conditions

# print attendance = 100
data[ data["Attendance"] ==100]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
74,4,100,High,High,Yes,8,60,High,Yes,0,Medium,High,Private,Positive,4,No,College,Moderate,Male,69
106,31,100,Medium,Medium,No,7,59,Medium,Yes,2,High,High,Public,Positive,5,No,Postgraduate,Moderate,Male,76
222,24,100,High,High,Yes,6,86,Low,Yes,2,Medium,Medium,Private,Positive,5,No,High School,Near,Male,75
230,16,100,High,Low,Yes,8,63,High,Yes,2,Low,Medium,Public,Negative,3,No,High School,Moderate,Male,69
413,28,100,High,Low,Yes,6,72,Medium,Yes,1,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6359,11,100,High,High,Yes,8,58,High,Yes,1,Low,Medium,Private,Positive,3,No,College,Near,Female,70
6457,26,100,Medium,High,Yes,7,74,High,Yes,1,Medium,Medium,Public,Neutral,2,No,High School,Near,Female,74
6555,12,100,Low,Medium,Yes,7,65,Medium,Yes,1,Low,Medium,Private,Positive,2,No,High School,Near,Male,67
6580,18,100,Medium,Low,Yes,8,66,High,No,3,Low,Medium,Public,Negative,3,No,College,Near,Male,69
6592,29,100,Medium,Low,Yes,8,100,Low,Yes,0,Low,Medium,Private,Neutral,5,Yes,High School,Near,Male,72

In [21]:
# multiple conditions
cond1= data["Attendance"]==100
cond2=data["Extracurricular_Activities"] == "Yes"
cond3=data["School_Type"]=="Private"
cond4=data["Previous_Scores"]>=90

data[(cond1) & (cond2) & (cond3) &(cond4)]

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
2191,23,100,Low,Medium,Yes,5,93,Medium,Yes,4,Low,Medium,Private,Neutral,3,No,Postgraduate,Moderate,Male,73
6592,29,100,Medium,Low,Yes,8,100,Low,Yes,0,Low,Medium,Private,Neutral,5,Yes,High School,Near,Male,72

In [22]:
# chaining 
data[data["Attendance"]>95 ][["Attendance","Sleep_Hours","Previous_Scores"]]

      Attendance  Sleep_Hours  Previous_Scores
2             98            7               91
9             98            8               71
11            97            6               87
21            99            6               84
37            99            9               54
...          ...          ...              ...
6555         100            7               65
6566          96            8               85
6580         100            8               66
6592         100            8              100
6600          98            4               54

[751 rows x 3 columns]

In [23]:
# using query languages
data.query("Sleep_Hours ==10 & Attendance >=90")

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
269,21,95,Low,Low,No,10,84,Low,Yes,0,High,Medium,Public,Neutral,4,Yes,High School,Near,Male,67
451,26,94,High,Medium,Yes,10,54,Low,Yes,2,High,Medium,Public,Neutral,5,No,NaN,Near,Male,73
494,29,92,Medium,Medium,Yes,10,63,High,Yes,1,Low,High,Private,Negative,4,No,High School,Moderate,Male,71
800,26,96,High,High,Yes,10,64,Low,Yes,2,Medium,Medium,Private,Neutral,3,Yes,High School,Near,Female,72
820,17,96,Medium,Medium,Yes,10,93,Medium,Yes,2,Medium,Low,Public,Negative,4,No,High School,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5670,35,91,Low,Medium,Yes,10,63,Low,Yes,1,Medium,Medium,Public,Neutral,5,No,High School,Near,Male,72
5845,17,99,Medium,Medium,No,10,86,Low,Yes,1,Medium,Medium,Private,Positive,2,No,College,Near,Male,70
5876,10,98,Medium,Low,Yes,10,66,Low,Yes,1,Low,High,Public,Negative,2,No,College,Near,Female,66
6101,21,90,Low,Medium,Yes,10,95,High,Yes,2,High,High,Private,Neutral,4,No,College,Near,Male,72
6214,15,91,Medium,Low,Yes,10,61,Medium,Yes,0,Low,High,Public,Neutral,4,No,High School,Moderate,Male,65

In [24]:
data.query("Sleep_Hours ==10 & Attendance >=90")[["Exam_Score","Gender"]]

      Exam_Score  Gender
269           67    Male
451           73    Male
494           71    Male
800           72  Female
820           70  Female
...          ...     ...
5670          72    Male
5845          70    Male
5876          66  Female
6101          72    Male
6214          65    Male

[72 rows x 2 columns]

In [25]:
hours=10
data.query("Sleep_Hours == @hours & Attendance >=90")[["Exam_Score","Previous_Scores"]]

      Exam_Score  Previous_Scores
269           67               84
451           73               54
494           71               63
800           72               64
820           70               93
...          ...              ...
5670          72               63
5845          70               86
5876          66               66
6101          72               95
6214          65               61

[72 rows x 2 columns]

## DATA CLEANING

- 1. Missing values handling

In [26]:
data

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [27]:
## HANDLING MISSING VALUES
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [28]:
data[["Teacher_Quality" ,"Parental_Education_Level","Distance_from_Home"]]

     Teacher_Quality Parental_Education_Level Distance_from_Home
0             Medium              High School               Near
1             Medium                  College           Moderate
2             Medium             Postgraduate               Near
3             Medium              High School           Moderate
4               High                  College               Near
...              ...                      ...                ...
6602          Medium              High School               Near
6603            High              High School               Near
6604          Medium             Postgraduate               Near
6605          Medium              High School                Far
6606          Medium             Postgraduate               Near

[6607 rows x 3 columns]

In [29]:
data["Teacher_Quality"]

0       Medium
1       Medium
2       Medium
3       Medium
4         High
         ...
6602    Medium
6603      High
6604    Medium
6605    Medium
6606    Medium
Name: Teacher_Quality, Length: 6607, dtype: object

In [30]:
## Now I think student's Exam_Score  would be most affecting features for Teacher_Quality

clean_data=data.copy()
clean_data

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [31]:
# handling Teacher_Quality attribute
# I think Exam_Score could be most affecting feature for tecaher quality
clean_data["Exam_Score"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6607 entries, 0 to 6606
Series name: Exam_Score
Non-Null Count  Dtype
--------------  -----
6607 non-null   int64
dtypes: int64(1)
memory usage: 51.7 KB

In [32]:
clean_data["Exam_Score"].describe()

count    6607.000000
mean       67.235659
std         3.890456
min        55.000000
25%        65.000000
50%        67.000000
75%        69.000000
max       101.000000
Name: Exam_Score, dtype: float64

In [34]:
clean_data[["Exam_Score","Teacher_Quality"]]

      Exam_Score Teacher_Quality
0             67          Medium
1             61          Medium
2             74          Medium
3             71          Medium
4             70            High
...          ...             ...
6602          68          Medium
6603          69            High
6604          68          Medium
6605          68          Medium
6606          64          Medium

[6607 rows x 2 columns]

In [37]:
clean_data[clean_data["Teacher_Quality"].isnull()==True][["Teacher_Quality","Exam_Score"]]

     Teacher_Quality  Exam_Score
127              NaN          69
396              NaN          67
457              NaN          65
570              NaN          66
593              NaN          69
...              ...         ...
6414             NaN          61
6427             NaN          68
6461             NaN          69
6579             NaN          67
6596             NaN          66

[78 rows x 2 columns]

In [41]:
clean_data.loc[clean_data["Teacher_Quality"].isnull() & clean_data["Exam_Score"].between(55,65),"Teacher_Quality"]="Low"

In [45]:
clean_data.loc[clean_data["Teacher_Quality"].isnull() & clean_data["Exam_Score"].between(66,75),"Teacher_Quality"]="Medium"

In [47]:
clean_data.loc[clean_data["Teacher_Quality"].isnull() & clean_data["Exam_Score"].between(76,clean_data["Exam_Score"].max()),"Teacher_Quality"]="Low"

In [49]:
clean_data["Teacher_Quality"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6607 entries, 0 to 6606
Series name: Teacher_Quality
Non-Null Count  Dtype
--------------  -----
6607 non-null   object
dtypes: object(1)
memory usage: 51.7+ KB

In [50]:
#-----------xxxx----Teacher_Quality feature has all non null values------------xxxx-------

In [51]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6607 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [52]:
#Parental_Education_Level feature
clean_data["Parental_Education_Level"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6607 entries, 0 to 6606
Series name: Parental_Education_Level
Non-Null Count  Dtype
--------------  -----
6517 non-null   object
dtypes: object(1)
memory usage: 51.7+ KB

In [53]:
clean_data["Parental_Education_Level"].describe()

count            6517
unique              3
top       High School
freq             3223
Name: Parental_Education_Level, dtype: object

In [54]:
clean_data["Parental_Education_Level"].unique()

array(['High School', 'College', 'Postgraduate', nan], dtype=object)

In [55]:
clean_data["Parental_Education_Level"].isnull().sum()

np.int64(90)

In [56]:
clean_data.sample(7)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
2377,12,74,High,Low,Yes,8,66,Low,Yes,1,Low,Medium,Public,Positive,2,No,High School,Near,Male,62
290,19,60,Medium,High,Yes,7,72,High,Yes,3,Low,High,Public,Positive,3,No,High School,Moderate,Female,65
3617,18,95,Medium,High,Yes,6,94,Medium,Yes,6,Low,High,Public,Neutral,3,No,High School,Far,Female,73
2873,16,78,Low,High,No,9,90,Medium,Yes,3,Low,Medium,Public,Negative,3,No,Postgraduate,Moderate,Male,66
4707,17,62,Medium,Low,No,8,86,High,Yes,2,Medium,Medium,Public,Neutral,4,No,High School,Moderate,Female,62
4428,21,77,High,Medium,No,10,87,Low,Yes,1,Low,Medium,Public,Neutral,3,No,College,Near,Male,67
6599,30,94,Medium,Low,No,5,52,Low,No,3,High,Medium,Private,Neutral,2,No,Postgraduate,Moderate,Female,70

In [57]:
clean_data.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [58]:
clean_data["Family_Income"].describe()

count     6607
unique       3
top        Low
freq      2672
Name: Family_Income, dtype: object

In [59]:
clean_data["Family_Income"].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [74]:
# using Family_Income to fill nan val in parent edu level
clean_data.loc[clean_data["Parental_Education_Level"].isnull() & (clean_data["Family_Income"]=="Low"),"Parental_Education_Level"]="High School"

In [75]:
# using Family_Income to fill nan val in parent edu level
clean_data.loc[clean_data["Parental_Education_Level"].isnull() & (clean_data["Family_Income"]=="Medium"),"Parental_Education_Level"]="College"

In [76]:
# using Family_Income to fill nan val in parent edu level
clean_data.loc[clean_data["Parental_Education_Level"].isnull() & (clean_data["Family_Income"]=="High"),"Parental_Education_Level"]="Postgraduate"

In [77]:
clean_data["Parental_Education_Level"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 6607 entries, 0 to 6606
Series name: Parental_Education_Level
Non-Null Count  Dtype
--------------  -----
6607 non-null   object
dtypes: object(1)
memory usage: 51.7+ KB

In [79]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6607 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6607 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [80]:
#------------xxx-------filled missing val for Parental_Education_Level----------xxx-------

In [83]:
#--Distance_from_Home 
clean_data["Distance_from_Home"].isnull().sum()

np.int64(67)

In [84]:
clean_data["Distance_from_Home"].describe()

count     6540
unique       3
top       Near
freq      3884
Name: Distance_from_Home, dtype: object

In [85]:
clean_data["Distance_from_Home"].unique()

array(['Near', 'Moderate', 'Far', nan], dtype=object)

In [86]:
clean_data.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [89]:
# as there is no strong feature that is affecting Distance_from_Home feat so we r going to use ffill
clean_data["Distance_from_Home"]=clean_data["Distance_from_Home"].ffill()

In [90]:
clean_data["Distance_from_Home"].isnull().sum()

np.int64(0)

In [91]:
#-------------xxxxxx--------"Distance_from_Home" doesn't contains null val----xxxxxxx-------------